* {
    color: white;
    background-color: black;
    text-align: center;
}

.grid {
    display: grid;
}

.YT {
    grid-column: 1;
    grid-row: 1;
}

.twitch {
    grid-column: 2;
    grid-row: 1;
}

.twitter {
    grid-column: 1;
    grid-row: 2;
}

img {
    max-width: 250px;
}

.one {
    grid-column: 3;
    grid-row: 1;
  }
  
  .two {
    grid-column: 3;
    grid-row: 2;
  }
  
  .three {
    grid-column: 3;
    grid-row: 3;
  }